<!--model SklepUKW.ViewModels.ListViewModel -->
@model IEnumerable<SklepUKW.Models.Film>
@using SklepUKW.Infrastructure

@{
    ViewBag.Title = "Index";

}
<h2> Najdłuższe filmy </h2>
<table style="background-color: goldenrod">
    <tr><td colspan="3"> Najdłuższe filmy </td></tr>
    <tr>
        @foreach (var film in Model)
        {
            <td><a href="@Url.Action("Details", "Films", new { id = film.FilmID})"><img src="@Url.PosterPath(film.PosterName)" /></a></td>
        }
    </tr>
</table>
